body {
    margin : 1em;
    padding : 0em;
    font-size : 12px;
    background-color: #eee;
}
button {
    padding : .25em;
    margin : .25em;
    width : 12em;
}
img.mnist {
    height : 32px;
    width : 32px;
}
p {
    margin: 0px;
}