<html ng-app="garden">
<head>
	<title>Image Browser</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="/view/multi.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/view/index.css"/>
</head>
<body ng-controller="gardenController">

        <button type="button" class="btn btn-primary btn-sm" ng-click="reset_session()">Reset Net</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="update_embeddings()">Update Embeddings</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="randomizeImage()">Randomize Image</button>
        Iterations <input ng-model="data.iterations" type="text">
        <hr>
        <p>Original images : 1024 data points.</p>
        <div>
	        <span ng-repeat="index in data.images">
	          	<img class="mnist" src="/layer-1/{{index}}/{{0}}" ng-click="similar(index)"></img>
	        </span>
	</div>
        <p>Noise images : 1024 data points, 2% data corruption</p>
        <div>
	        <span ng-repeat="index in data.images">
	          	<img class="mnist" src="/layer0/{{index}}/{{0}}"></img>
	        </span>
	        <button type="button" class="btn btn-primary btn-sm" ng-click="learn(0)">Train Layer</button>
	</div>
        <p>1st Layer : 512 data points. {{data.training_sessions[0]}} epochs</p>
        <div>
	        <span ng-repeat="index in data.images">
	          	<img class="mnist" src="/layer1/{{index}}/{{data.training_sessions}}"></img>
	        </span>
	        <button type="button" class="btn btn-primary btn-sm" ng-click="learn(1)">Train Layer</button>
        </div>
        <p>2nd Layer : 256 data points. {{data.training_sessions[1]}} epochs</p>
        <div>
	        <span ng-repeat="index in data.images">
	          	<img class="mnist" src="/layer2/{{index}}/{{data.training_sessions}}"></img>
	        </span>
	        <button type="button" class="btn btn-primary btn-sm" ng-click="learn(2)">Train Layer</button>
        </div>
        <p>3rd Layer : 128 data points. {{data.training_sessions[2]}} epochs</p>
        <div>
	        <span ng-repeat="index in data.images">
	          	<img class="mnist" src="/layer3/{{index}}/{{data.training_sessions}}"></img>
	        </span>
	        <button type="button" class="btn btn-primary btn-sm" ng-click="learn(3)">Train Layer</button>
        </div>
        <p>4th Layer : 64 data points. {{data.training_sessions[3]}} epochs</p>
        <div>
	        <span ng-repeat="index in data.images">
	          	<img class="mnist" src="/layer4/{{index}}/{{data.training_sessions}}"></img>
	        </span>
	        <button type="button" class="btn btn-primary btn-sm" ng-click="learn(4)">Train Layer</button>
        </div>
        <p>5th Layer : 32 data points. {{data.training_sessions[4]}} epochs</p>
        <div>
	        <span ng-repeat="index in data.images">
	          	<img class="mnist" src="/layer5/{{index}}/{{data.training_sessions}}" ng-click="similar(index)"></img>
	        </span>
	        <button type="button" class="btn btn-primary btn-sm" ng-click="learn(5)">Train All</button>
        </div>
        <p>All Layers : {{data.training_sessions[5]}} epochs</p>
        <p>Similar images</p>
        <div>
	        <span ng-repeat="index in data.similar_images">
	          	<img class="mnist" src="/layer-1/{{index}}/{{0}}" ng-click="subtract(index)"></img>
	        </span>
	</div>
        <p>Subtracting image</p>
        <div>
	        <span ng-repeat="index in data.difference_images">
	          	<img class="mnist" src="/layer-1/{{index}}/{{0}}" ng-click="subtract(index)"></img>
	        </span>
	</div>
</body>
</html>
